*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: calibri, sans-serif;
        font-size: 18px;
        list-style: none;
        text-decoration: none;
}

body{
    /* background: #f3e9f1; */
    background: linear-gradient(45deg, rgb(215,130,50), rgb(143,91,254));
}
 /* header */


nav{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    transition: 0.5s;
}

nav img{
    border-radius: 20px;
    width: 200px;
}

.search input{
    border-radius: 20px;
    padding: 0 10px;
}

.search button{
    border-radius: 20px;
    padding: 0 15px;
    background-color: #d27f41;
}

.menu{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.menu a{
    color: white;
}

/* section product */

section{
    width: 50%;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 40px;
}

section h1{
    font-size: 1.5em;
    padding: 40px 0;
}

.product{
    width: 400px;
    height: 500px;
    border: 4px solid;
    border-image: linear-gradient(225deg, rgb(215,130,50), rgb(143,91,254)) 1; 
    margin: 20px 20px;
    padding: 10px;
    border-radius: 20px;
}

.product img{
    margin-top: 20px;
    width: 350px;
}